body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Added to ensure padding doesn't affect overall width */
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group label {
    margin: 0;
}

.forgot-password {
    color: #3498db;
    text-decoration: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #27ae60;
}

/* Handling the form input focus */
.input-group input:focus {
    outline: none;
    border-color: #3498db;
}

/* Handling the placeholder color */
.input-group input::placeholder {
    color: #aaa;
}
